.gray_hr{
    border:solid #d3d3d9;
}

.orange_hr{
    border:solid #f8d5c4;
}

.orange_color{
    background-color: #f96910;
}

.orange_gradient{
    background-color: #f96910;
}

.radius_tr{
    border-radius:5px;
}